<!-- Inheriting all linked files -->
{% extends 'base.html' %} {% include 'header.html' %} 

<!-- head section -->
{% block title %} Projeto Integrador {% endblock %}


<!-- Body section  -->
{% block body %}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" >
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="static/images/foto.png  " alt=some  width=100 height=50>
        <h1 class="text-white fs-3 fw-bolder">Seu nome</h1>
        <p class="text-white ">O que você faz</p>
    </div>
</header>


<!-- Testimonials-->

<section id="scrollspyHeading1" class="text100 testimonials text-center ">
    <div class="container">
        <h2 class="mb-5">Conheça aqui os serviços prestados...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid  rounded-circle mb-3" src="static/images/fisioterapia-5.jpg" id="teste3" alt=some  width=250 height=150>
                    <h5>Descrição dos Serviços</h5>
                    <p class="font-weight-light mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid  rounded-circle mb-3" src="static/images/fisioterapia-5.jpg" id="teste3" alt=some  width=250 height=150>
                    <h5>Descrição dos Serviços</h5>
                    <p class="font-weight-light mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid  rounded-circle mb-3" src="static/images/fisioterapia-5.jpg" id="teste3" alt=some  width=250 height=150>
                    <h5>Descrição dos Serviços</h5>
                    <p class="font-weight-light mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
            </div>
        </div>
</section>

<section id="scrollspyHeading1" class="text300 testimonials text-center ">
    <div class="  container ">
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid  rounded-circle mb-3" src="static/images/fisioterapia-5.jpg" id="teste3" alt=some  width=250 height=150>
                    <h5>Descrição dos Serviços</h5>
                    <p class="font-weight-light mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid  rounded-circle mb-3" src="static/images/fisioterapia-5.jpg" id="teste3" alt=some  width=250 height=150>
                    <h5>Descrição dos Serviços</h5>
                    <p class="font-weight-light mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid  rounded-circle mb-3" src="static/images/fisioterapia-5.jpg" id="teste3" alt=some  width=250 height=150>
                    <h5>Descrição dos Serviços</h5>
                    <p class="font-weight-light mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
            </div>
    </div>
</section>

<section>
    <div  class="card_home container card text-center">
        <div class="card-body">
        <h5 class="card-title "><h2 class="page-section-heading text-center text-uppercase text-white">Agende Sua Consulta </h2></h5>
        <p class="card-text "><p class="lead page-section-heading text-center text-uppercase text-white">Escolha um dia e horário entraremos em contato.</p>
        <a href="http://127.0.0.1:5000/form" class="btn btn-lg btn-light">Clique Aqui</a>
        </div>
    </div>
</section>

<section id="scrollspyHeading2" class=" page-section mb-0">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center mb-5">Sobre</h2>
        <hr>
        <!-- About Section Content-->
        
                <div class="row home-info-grey">
                    <div class="col-md-7">
                        <h2>Olá, eu sou (..............)</h2>
                        <p>
                             Sou formada em (............) há 6 anos. Atualmente trabalho com (Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book).
                            <br> Realizo 
                            (....................................).</p>
                    </div>
                    <div class="col-md-5 drop-cap-text"> <span class="drop-cap"><span class="drop-cap-letter">A</span></span>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English....
                         Lorem Ipsum as their default model text!
                        </div>
                </div>
            </div>
        </section>

<section id="scrollspyHeading3"class=" page-section page-section-cont" >
<h2 class="text-center my-5 ">Contato</h2>
        <hr>
<div class="container">
    <div class="row">
        <!-- Footer Location-->
        <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Pelo whatsapp</h4>
            <p class="lead mb-0">
                <i class="fa fa-whatsapp">(18)98888-9999</i>
            </p>
        </div>
    
        <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Redes Sociais</h4>
            <li class="list-inline-item me-4">
                <a href="https://twitter.com"><i class="bi-twitter fs-3"><img class="img-fluid rounded-circle mb-4" src="static/images/twitter.png" alt=some  width=25 height=10></i></a>
            </li>
            <li class="list-inline-item me-4">
                <a href="https://www.facebook.com"><i class="bi-facebook fs-3"><img class="img-fluid rounded-circle mb-4" src="static/images/facebook.png" alt=some  width=25 height=10></i></a>
            </li>
            <a href="https://www.instagram.com"><i class="bi-instagram fs-3"><img class="img-fluid rounded-circle mb-4" src="static/images/instagram.png" alt=some  width=25 height=10></i></a>
                <a href="#!"><i class="bi-instagram fs-3"></i></a>
            </li>
        </div>
       
        <div class="col-lg-4">
            <h4 class="text-uppercase mb-4">Agenda On-line</h4>
            <p class="lead mb-0">
                Faça o seu pré agendamento e aguarde contato
                <a href="http://127.0.0.1:5000/form">Aqui</a>
                
            </p>
        </div>
    </div>
</div>
</section>


       
{% include 'footer.html' %}


{% endblock %}